<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>List cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-searchbar name="searchcar" [(ngModel)]="searchcar"></ion-searchbar>
  <ion-list *ngFor="let book of bookings | filter:searchcar">
    <ion-item (click)="getPlateNum(book.plateNum)">
      <ion-label class="text-center">{{ book.plateNum }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>