<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Monitor Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of data">
    <ion-item>
      {{ item }}
      <!--<ion-spinner type="crescent"></ion-spinner>-->
    </ion-item>
    <div *ngIf="certain === item">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
  </ion-list>
</ion-content>