ion-item {
    --background: #ffffff;
}

ion-label {
    --color: #000000;
}

ion-content {
    --padding-top: 25px;
    --padding-left: 25px;
    --padding-right: 25px;
}

ion-toolbar {
    --padding-right: 10px;
}