<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" required minlength="8" maxlength="12" name="password"
              [(ngModel)]="user.password" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" expand="block" (click)="onLogin()">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <h3>{{ errorMsg }}</h3>
</ion-content>