<ion-content>
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
     
      <h1 class="text-center">mcqr.</h1>
      <br>
      <form>
        <div class="form-group input-group">
          <input type="text" class="form-control" name="email" [(ngModel)]="login.email" placeholder="Email" />
        </div>
        <div class="form-group input-group">
          <input type="password" class="form-control" required minlength="8" maxlength="12" name="password"
            [(ngModel)]="login.password" placeholder="Password" />
        </div>
        <div class="form-group">
          <ion-button (click)="onLogin()" expand="block">Login</ion-button>
        </div>
        <a routerLink="/forgot-password" float-left class="text-white">Forgot password</a>
        <a routerLink="/add" class="float-right text-white" style="font-size: 14px;">Sign Up</a>
      </form>
    </div>
    <div class="col"></div>
  </div>
</ion-content>