<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Book
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <form #bookForm="ngForm">

    <!--<li-ionic4-datepicker [(ngModel)]="mydate1" [inputDateConfig]="datePickerObj"></li-ionic4-datepicker>-->
    <!--<ion-item lines="inset">
      <ion-label position="floating">Car registeration no</ion-label>
      <ion-input type="text" name="plateNum" [(ngModel)]="book.plateNum" maxlength="10" #plateNum="ngModel" required>
      </ion-input>
    </ion-item>
    <div [hidden]="plateNum.valid || plateNum.pristine || plateNum.touched" class="alert alert-danger">Plate No.
      is required</div>-->
    <ion-item>
      <ion-label position="floating">Plate Number</ion-label>
      <ion-input type="text" name="plateNum" [(ngModel)]="book.plateNum"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime name="date" [(ngModel)]="book.date" picker-format="YYYY-MM-DD" min={{currentYear}}></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-select interface="popover" name="time" [(ngModel)]="book.time">
        <ion-select-option *ngFor="let time of Time" [value]="time">{{time}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-input type="hidden" name="user_id" [(ngModel)]="book.user_id" disabled></ion-input>
    <ion-item>
      <ion-label>Model</ion-label>
      <ion-select name="model_name" [(ngModel)]="book.model_name">
        <ion-select-option *ngFor="let models of model">{{ models }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Interval</ion-label>
      <ion-select name="model_interval" [(ngModel)]="book.model_interval">
        <ion-select-option *ngFor="let interval of intervals"> {{ interval }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="button" (click)="onSave()" expand="full">Submit</ion-button>
  </form>


</ion-content>