<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <form #passwordForm="ngForm">
    <ion-item>
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" name="curr_password" [(ngModel)]="Newpassword.curr_password" maxlength="20"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" name="new_password" #new_password="ngModel" [(ngModel)]="Newpassword.new_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#_.$^+=!*()@%&]).{8,12}$" minlength="8" maxlength="12"></ion-input>
    </ion-item>
    <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="alert alert-danger">
      <div *ngIf="new_password.errors.pattern">Password must be upper, lower case and number.</div>
      <div *ngIf="new_password.errors.minlength">Password must at least 8 characters.</div>
    </div>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" name="con_password" #con_password="ngModel" [(ngModel)]="Newpassword.con_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#_.$^+=!*()@%&]).{8,12}$" minlength="8" maxlength="12"></ion-input>
    </ion-item>
    <div *ngIf="con_password.invalid && (con_password.dirty || con_password.touched)" class="alert alert-danger">
      <div *ngIf="con_password.errors.pattern">Password must be upper, lower case and number.</div>
      <div *ngIf="con_password.errors.minlength">Password must at least 8 characters.</div>
    </div>
    <br>
    <ion-button expand="block" (click)="update()">Update Password</ion-button>
  </form>
</ion-content>